<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayo.animations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recyclerview.RecyclerItemAnimActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".sharedelement.activities.CallingActivity" />
        <activity android:name=".sharedelement.activities.CalledActivity" />
        <activity android:name=".sharedelement.activityfrag.CalledActivity" />
        <activity android:name=".sharedelement.activityfrag.CallingActivity" />
        <activity android:name=".sharedelement.activityviewpager.CallingActivity" />
        <activity android:name=".sharedelement.activityviewpager.ViewPagerActivity" />
        <activity android:name=".circularreveal.image.CircularRevealActivity"></activity>
        <activity android:name=".circularreveal.fragment.FragmentRevealActivity">

        </activity>
        <activity android:name=".circularreveal.dialog.DialogRevealActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>